// couleur de texte
.text-white,.text-white:hover,.text-white:focus,.text-white:active						{color:$white}
.text-black,.text-black:hover,.text-black:focus,.text-black:active						{color:$black}
.text-light-gray,.text-light-gray:hover,.text-light-gray:focus,.text-light-gray:active	{color:$light-gray}
.text-blue,.text-blue:hover,.text-blue:focus,.text-blue:active							{color:$blue}
.text-yellow,.text-yellow:hover,.text-yellow:focus,.text-yellow:active					{color:$yellow}
.text-red,.text-red:hover,.text-red:focus,.text-red:active								{color:$red}

// couleur de fond
.bg-white{background-color:$white}
.bg-black{background-color:$black}
.bg-light-gray{background-color: $light-gray;}
.bg-blue{background-color: $blue;}
.bg-yellow{background-color: $yellow;}
.bg-red{background-color: $red}
.bg-blue-transparent{background-color: rgba(54,104,164,.9);}

.bg-facebook{background-color: #3b5999;}
.bg-twitter{background-color: #55acee;}
.bg-google{background-color: #dd4b39;}
.bg-linkedin{background-color: #0077B5;}

