.footer-cta-thumb{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#cta-footer{
	font-weight: 700;
	.cta-footer-subtitle{
		font-size: 12px;
		letter-spacing: 1px;
	}
	.cta-footer-title{
		font-size: 40px;
		letter-spacing: 5px;
	}
	.cta-footer-btn{
		font-size: 10px;
		letter-spacing: 1px;
	}
}
@media (max-width: 768px){
	#cta-footer .cta-footer-title{font-size:30px;}
}
@media (max-width: 415px){
	#cta-footer .cta-footer-title{font-size: 20px;}
}
#back-to-top{
	height:60px;
	cursor: pointer;
}
footer{
	.copyright, #menu-menu-footer-2, #menu-menu-footer-1{
		font-size: 12px;
		font-weight: 700;
	}
	width: 100%;
	ul.menu{
	    margin-bottom: 0;
    	padding-left: 0;
    	list-style: none;
    	li{
    		display: inline-block;
    		a{
    			color:$white;
    		}
    	}
	}
}