@import url('https://fonts.googleapis.com/css?family=Montserrat');

//base
html{background:none;}
body{padding-top:56px;position:relative;font-family:'Montserrat', sans-serif; background:$white;color:$black;font-size:18px;}
.container-fluid{width:100%;max-width:1500px;margin-right:auto;margin-left:auto; padding-right:10px; padding-left: 10px;}
.error-login{background: #ffcccc;color: #af0202;font-weight: bold;padding: 5px;font-size: 15px;}
body.modal-open{
	padding-right: 0 !important; overflow:auto;
	div.modal .modal-content{opacity:1;}
}
body:not(.modal-open) div.modal .modal-content{opacity: 0; transition:.2s;}

a{	&:hover, &:active, &:focus, &:visited{text-decoration: none;}
}
p img.alignleft {
	float: left;
	margin-right: 15px;
}
p img.alignright {
	float: right;
	margin-left: 15px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.suggestion-link{background-color: $white;color:$black;transition:.2s;}
.suggestion-link:hover{background-color:$black; color:$white;}

.oneall_social_login_providers{min-height: auto !important;}
.oneall_social_login_providers iframe{height:60px !important; width: 165px !important; min-height: auto !important}

#extensions_message_10_10, #extensions_message_10_10 {display: none;}
/**********************************************************************************************************/

//balise
code{padding:2px 0;font-size:11px;color:#777;font-style:italic;}
p{margin-bottom:0.625rem}

b{font-weight: 700;}


h1,.h1{font-weight:900;text-transform:uppercase;}
h2,.h2{font-weight:900;}
h3,.h3{font-weight:700;}
h4,.h4{font-weight:700;}
h5,.h5{font-weight:700;}


@include media-breakpoint-down(sm){
	h1,.h1,.display-1{font-size:2rem}
	h2,.h2,.display-2{font-size:1.875rem}
	h3,.h3,.display-3{font-size:1.25rem}
	h4,.h4,.display-4{font-size:1rem}
	h5,.h5,.display-5{font-size:0.75rem}
}

//font
.font-weight-normal{font-weight:500;}
.font-weight-medium{font-weight:600;}
.font-weight-bolder{font-weight:900;}
.font-weight-lighter{font-weight:300;}

.text-decoration-none:hover, a:hover .text-decoration-none{text-decoration:transparent;display:inline-block;width:100%;}
/***********************************************************************************************************/
/*Boutons*/
.gray-btn-arrow, .green-btn-arrow, .white-btn-arrow, .facebook-btn-arrow, .twitter-btn-arrow, .google-btn-arrow,
.linkedin-btn-arrow, .postulat-btn-arrow, .alert-btn-arrow, .btn-login-green, #disconnect, #cv-label, .save-profil-btn,
#modal-candidature .gform_footer.top_label{
	display: inline-block;
	position: relative;
	&:after{
		background-color: #fff;
	    position: absolute;
	    right: -33px;
	    top: 0;
	    height: 100%;
	    width: 33px;
	    text-align: center;
	    vertical-align: middle;
	    line-height: 40px;
	}
}
.save-profil-btn:after{
	content:url(../img/save-icon.png);
	cursor:pointer;
}
#cv-label:after{
	content:url(../img/cv-icon.png);
}
#disconnect:after{
	content: url(../img/close-red.png);
}
.gray-btn-arrow:after{
	content: url(../img/btn-arrow-black.png);
}
.green-btn-arrow:after{
	content: url(../img/btn-arrow-green.png);
}
.postulat-btn-arrow:after, .btn-login-green:after, #modal-candidature .gform_footer.top_label:after{
	content: url(../img/green-apply.png);
	background-color:#cff2e4;
}
.blue-btn-arrow:after{
	content: url(../img/btn-arrow-blue.png);
}
.white-btn-arrow:after{
	content: url(../img/btn-arrow-white.png);
	background-color: $black;
}
.alert-btn-arrow:after{
	content: url(../img/alert-icon-green.png);
	background-color: #294c3e;
}
.facebook-btn-arrow:after{content: url(../img/btn-arrow-facebook.png);}
.twitter-btn-arrow:after{content: url(../img/btn-arrow-twitter.png);}
.google-btn-arrow:after{content: url(../img/btn-arrow-google.png);}
.linkedin-btn-arrow:after{content: url(../img/btn-arrow-linkedin.png);}


/**********************************************************************************************************/
/*HOME*/
.hp-top-row{min-height: calc(50vh - 28px);}
.hp-top-cards{min-height: 100%;}
.hp-bg{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: calc(100vh - 56px);
	.img-container{
		overflow: hidden;
		height:100%;
		position:relative;
		img{min-height: 100%;}
		.img-caption{
			position:absolute;top: 0;left: 0;width: 100%;font-size: 29px;font-weight: 700;letter-spacing: 3px;line-height: 35px;
		}
	}
}
.owl-carousel-offres-hp .owl-dots{padding-left:10px;padding-right:10px;}
.owl-carousel-offres-hp .owl-dot{
	width: 10px;
    height: 10px;
    border: solid 3px #333;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
    &.active{background:#333;}
}
.bg-twitter-picto{
	background: center center no-repeat url('../img/bg-twitter-picto.png');
	background-size: cover;
}
.bg-linkedin-picto{
	background: center center no-repeat url('../img/bg-linkedin-picto.png');	
	background-size: cover;
}
.red-bell-details:after{
	content:'';
	display: inline-block;
	height:22px;
	width: 1px;
	background-color:#333;
	margin-right:10px;
	margin-left: 10px;
}
.titre-carousel-urgentes{font-size: 14px; line-height: 14px; font-weight: 700; letter-spacing: 1px;}
.carousel-offre{
	letter-spacing: 1px;
	.offre-titre{font-size: 15px; font-weight: 700;}
	.offre-ref{font-size: 12px; font-style: italic;}
	.offre-info{font-size: 14px; font-weight: 400; margin-top:2px;}
	.offre-update{font-size: 10px; font-style: italic;}
	.gray-btn-arrow{font-size: 10px; font-weight: 700;}
}
.offre-update{font-size: 10px; font-style: italic;}
.hp-top-card-title{font-size: 8px;font-weight: 400;letter-spacing: 1px;}
.hp-top-card-txt{font-size: 12px; line-height: 23px;}
.hp-top-card-btn{font-size: 10px; width:calc(100% - 33px);}
.hp-top-card-form{
	input[type=search]{
		background-color: transparent;
		border: solid $white 2px;
		font-size: 10px;
		font-weight: 700;
		width: 100%;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: $white;}
		&::-moz-placeholder { /* Firefox 19+ */ color: $white;}
		&:-ms-input-placeholder { /* IE 10+ */ color: $white;}
		&:-moz-placeholder { /* Firefox 18- */ color: $white;}
	}
	.submit-input{
		position: relative;
		width: calc(100% - 33px);
		cursor: pointer;
		&:after{
			background-color: #fff;
		    position: absolute;
		    right: -33px;
		    top: 0;
		    height: 100%;
		    width: 33px;
		    text-align: center;
		    vertical-align: middle;
		    line-height: 37px;
		    display: inline-block;
		    content: url(../img/btn-search-blue.png);
		}
		input[type=submit]{
			border:none;
			font-size: 10px;
			font-weight: 700;
			width: 100%;
		}
	}
}
.hp-top-card-top{min-height: 55%;}
.hp-who{
	letter-spacing: 1px;
	font-weight: 700;
	.hp-who-title{font-size: 30px; letter-spacing: 3px;}
	.hp-who-txt{font-size: 15px;}
	.white-btn-arrow{font-size:10px;}
}
.hp-3bloc-container{
	display: flex;
	align-items:center;
	position: relative;
	img{height: 100%; width:100%;}
}
.hp-offers-number-title{font-size: 30px; font-weight: 700;}
#hp-odometer{
	.odometer-inside {
	    font-size: 200px;
	    line-height: 200px;
		font-weight: 700;
	}
}
.hp-offers-number-txt{font-size: 15px; font-weight: 700;}
.hp-offers-number:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 15px transparent solid;
    border-top: solid 15px $yellow;
    margin-left: calc((100% - 30px)/2);
    margin-right: calc((100% - 30px)/2);
    position: absolute;
    bottom: -30px;
    left:0;
}
.choix-profil{
	font-weight: 700;
	.choix-profil-title{font-size: 30px;}
	.choix-profil-txt{
		font-size: 15px;
		em{color:$green;font-style: normal;}
	}
	.choix-profil-form form select{
		border:solid 1px $black;
		font-size: 12px;
		font-weight: 700;
	}
}
.bg-linkedin-picto{
	letter-spacing: 1px;
	.hp-linkedin-title{font-size:30px; font-weight:700; letter-spacing: 3px;}
	.white-btn-arrow{
		font-size: 15px;
		width:calc(60% - 33px); font-weight: 700;
		&:after{background-color: $light-blue; width:39px;}
	}
}
.hp-twitter-title{font-size: 30px; font-weight: 700; letter-spacing: 3px;}
.hp-twitter-text{
	font-size: 15px; font-weight: 700; letter-spacing: 1px;
	em{color:$blue; font-style: normal;}
}
.hp-twitter-list{
	padding-left: 0;list-style: none;
	li{
		display: inline-block;
		width:50%;
		position: relative;
		a{
			font-weight: 900;
			font-size: 15px;
			letter-spacing: 1px;
			&:after{
				content: url('../img/btn-arrow-white.png');
				display: inline-block;
				position: absolute;
				right: 0;
				padding-left: 50%;
			}
		}
	}
}
.social-connect-subtitle{font-size:15px;font-weight:700;letter-spacing: 1px;}
.social-connect-title{font-size:40px; font-weight:700;letter-spacing: 3px;}
.social-login-btn{
	a{
		font-size:10px;
		width:256px;
		font-weight: 700;
		letter-spacing: 1px;
	}
}
.social-login-bloc{background-repeat: no-repeat; background-position: center center; background-size: cover;}
.last-offers-title{font-size: 30px; font-weight: 700; letter-spacing: 3px;}
.last-offers-desc{
	font-size:15px;font-weight:700;letter-spacing: 1px;
	em{font-style: normal; color: $red;}
}
.caption-urgent{
	font-size:10px;
	font-weight: 700;
	position: relative;
	em{font-style: normal; color: $red;}
	&:after{
		    content: url('../img/red-bell.png');
		    display: inline-block;
		    position: absolute;
		    left: 0;
		    top: 0;
		    border-right: solid 1px #333;
		    padding-right: 14px;
	}
}
.offre-title{
	position:relative;
	.name-offre{font-size:15px; font-weight: 700; letter-spacing: 1px;}
	.ref-offre{
		font-style: italic; font-size: 12px; letter-spacing: 1px;
		em{font-weight: 700;}
	}
	.date-box{
	    	position: absolute;
		    top: -12px;
		    height: 37px;
	        left: calc( ( 100% - 154px ) / 2 );
		    &.bg-red{border: solid 1px $red;}
		    &.bg-black{border: solid 1px $black;}
		    .clock {
		    	line-height: 35px;
		    	width: 35px
			}
			.date {
			    height: 100%;
			    width: auto;
			    line-height: 35px;
			    font-size: 15px;
			}
	    }
}
.info-offre{
	font-size: 14px;
	letter-spacing: 1px;
	em{font-weight: 700;font-style: normal;}
}
.update-offre{font-size: 10px;font-style: italic;letter-spacing: 1px;}
.offre-right, .offre-left{
	position: relative;
	&.offre-urgente:after{content:url('../img/red-bell-small.png');line-height: 22px;}
	&:not(.offre-urgente):after{line-height: 17px;}
	&:after{
		position: absolute;
		background:$white;
		border-radius: 50%;
		border: solid 4px $light-gray;
		top: calc(( 100% - 28px )/2);
		width:29px;
		height:28px;
	}
}
.offre-left:not(.offre-urgente):after{content:url('../img/btn-arrow-black-small-invert.png');}
.offre-right:not(.offre-urgente):after{content:url('../img/btn-arrow-black-small.png');}
.offre-infos p{margin-bottom: 3px;}
.offre-right:after{left:-14px;}
.offre-left:after{right:-14px;}
/*************************************************************************************************************/
//NOS OFFRES
.nos-offres{
	h1{font-size: 30px;}
	.sous-titre{font-size: 15px; font-weight: 700;}
	.page-1 .offre-card.filtered:nth-of-type(n+13){
		display: none;
	}
	.filters, .search{margin-bottom: 2px;}
	.filters, .search, select, input[type=search]{font-size: 15px;}
	.filters img, .search img{padding-bottom: 4px;}
	#is-urgent{}
	img.search-icon{
	    position: absolute;
	    right: 30px;
	    display: inline-block;
	    margin: 12px 5px;
	    background: #FFF;
	    padding-bottom: 0;
	}
	.search input[type=search]{padding-right: 20px;}
	input[type=search]:after{
		content:url('../img/search.png');
		display: block;
	}
	input[type=search]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    	color:    $black;
    	font-weight: 700;
	}
	input[type=search]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    $black;
	   font-weight: 700;
	   opacity:  1;
	}
	input[type=search]::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    $black;
	   font-weight: 700;
	   opacity:  1;
	}
	input[type=search]:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color:    $black;
	   font-weight: 700;
	}
	input[type=search]::-ms-input-placeholder { /* Microsoft Edge */
	   color:    $black;
	   font-weight: 700;
	}
	select, input[type=search]{
		font-family: 'Montserrat';
		text-transform: uppercase;
		font-weight: 700;
		background:$white;
		border:none;
		color:$black;
		padding: 10px;
	    margin-bottom: 10px;
	    width: calc(100% - 30px);
	}
	.search-txt{line-height: 40px;}
	label[for="is-urgent"]{
	    line-height: 40px;
	}
	/* Base for label styling */
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
	  position: absolute;
	  left: -9999px;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
	  position: relative;
	  padding-left: 1.95em;
	  line-height: initial;
	  cursor: pointer;
	}

	/* checkbox aspect */
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
	  content: '';
	  position: absolute;
	  left: 0; top: 10px;
	  width: 1.25em; height: 1.25em;
	  border: 2px solid #ccc;
	  background: #fff;
	  border-radius: 4px;
	  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
	}
	/* checked mark aspect */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
	  content: '✔';
	  position: absolute;
	  top: 12px; left: 2px;
	  font-size: 1.3em;
	  line-height: 0.8;
	  color: $black;
	  transition: all .2s;
	}
	/* checked mark aspect changes */
	[type="checkbox"]:not(:checked) + label:after {
	  opacity: 0;
	  transform: scale(0);
	}
	[type="checkbox"]:checked + label:after {
	  opacity: 1;
	  transform: scale(1);
	}
	/* disabled checkbox */
	[type="checkbox"]:disabled:not(:checked) + label:before,
	[type="checkbox"]:disabled:checked + label:before {
	  box-shadow: none;
	  border-color: #bbb;
	  background-color: #ddd;
	}
	[type="checkbox"]:disabled:checked + label:after {
	  color: #999;
	}
	[type="checkbox"]:disabled + label {
	  color: #aaa;
	}
	/* hover style just for information */
	label:hover:before {
	  border: 2px solid $black !important;
	}
	@media (max-width:1300px){
		.offre-title{
			p.name-offre{font-size: 12px;}
			p.ref-offre{font-size: 9px;}
		}
	}
	.offre-title{
		position:relative;
		height: 150px;
	    display: flex;
	    flex-direction: column;
	    position: relative;
	    .date-box{
	    	position: absolute;
		    top: -12px;
		    height: 37px;
	        left: calc( ( 100% - 154px ) / 2 );
		    &.bg-red{border: solid 1px $red;}
		    &.bg-black{border: solid 1px $black;}
		    .clock {
		    	line-height: 35px;
		    	width: 35px
			}
			.date {
			    height: 100%;
			    width: auto;
			    line-height: 35px;
			    font-size: 15px;
			}
	    }
	    p.name-offre{margin-top: auto;}
	    p.ref-offre{margin-bottom: auto;}
	    &.urgente:after{
	    	content:url('../img/red-bell-small.png');
	    }
	    &:not(.urgente):after{
	    	content:url('../img/btn-arrow-black-small-down.png');
	    }
	    &.urgente:after, &:not(.urgente):after{
	    	background: #fff;
		    border: solid 4px #e7e7e7;
		    position: absolute;
		    bottom: -15px;
		    border-radius: 50%;
		    height: 30px;
		    width: 30px;
		    z-index: 2;
		    left: calc((100% - 30px)/2);
	    }
	}
	.offre-card{
		transition:.3s;
		filter: grayscale(0) contrast(1);
		min-height: 350px;
		&> a{
			height:100%;
			&>.row{
				height:100%;
				& > .offre-infos{height:calc(100% - 150px);display: flex;flex-direction: column;}
				p.time{margin-top: auto;font-size: 11px;font-weight: 700;letter-spacing: 1px;padding-left: 17px;position: relative;}
				p.time:before{content:url('../img/time.png');position: absolute;left:0;}
			}
		}
	}
	@media (max-width: 768px){
		.filters  .checkbox-urgent label[for="is-urgent"]{line-height: 40px}
		div.know-more-txt, div.cand-spont-title, div.social-connect-title {
		    font-size: 30px;
		}
	}
	@media (max-width: 576px){
		div.know-more-txt, div.cand-spont-title, div.social-connect-title {
		    font-size: 20px;
		}
	}
	@media (max-width: 992px){
		.page-number{font-size: 10px; padding: 10px 14px 9px; margin-bottom: 10px;}
		div.col2-bg-black-white{
			background: none;
			.container-fluid{padding-left: 0; padding-right: 0;}
			.savoir-plus{padding-right: 10px; padding-left: 10px; background:$white;}
			.candidature-spont{padding-right: 10px; padding-left: 10px; background:$black;}
		}
	}
	.page-number{display: inline-block;margin-right: 1px; background:$white; text-transform: uppercase; font-weight: 700; text-align: center; padding:18px 25px 17px; cursor:pointer; color:$black;}
	.page-1 #go-to-page-1 {
	    color: #FFF;
	    background: #333;
	}
	.col2-bg-black-white{
		background: linear-gradient(to right, #FFF 50%, #333 50%);
		letter-spacing: 1px;
	}
	.know-more-title{font-size:12px;}
	.know-more-txt, .cand-spont-title{font-size:40px;}
	.cand-spond-txt, .cand-spond-contact{font-size:15px;}
	.know-more-btn, .cand-spont-btn, .know-more-subtitle{font-size:10px;}
	hr.cand-spont-separator{height: 1px;width: 100%;background: #FFF;border: none;}
	.white-btn-arrow:after{background:#454545;}
	.twitter-login, .fb-login, .google-login, .linkedin-login{display: inline-block; width:289px; margin-right: 5px; margin-left: 5px;}
}
/**************************************************************************************************************/
/*SINGLE OFFRE*/
.single.single-annonce{
	.offre-update{font-size: 15px;}
	.offre-card .offre-update{font-size: 12px;}
	#map-localisation{width:100%; height:400px;}
	.offre-title{
		position:relative;
		height: 150px;
	    display: flex;
	    flex-direction: column;
	    position: relative;
	    .date-box{
	    	position: absolute;
		    top: -12px;
		    height: 37px;
	        left: calc( ( 100% - 154px ) / 2 );
		    &.bg-red{border: solid 1px $red;}
		    &.bg-black{border: solid 1px $black;}
		    .clock {
		    	line-height: 35px;
		    	width: 35px
			}
			.date {
			    height: 100%;
			    width: auto;
			    line-height: 35px;
			    font-size: 15px;
			}
	    }
	    p.name-offre{margin-top: auto;}
	    p.ref-offre{margin-bottom: auto;}
	    &.urgente:after{
	    	content:url('../img/red-bell-small.png');
	    }
	    &:not(.urgente):after{
	    	content:url('../img/btn-arrow-black-small-down.png');
	    }
	    &.urgente:after, &:not(.urgente):after{
	    	background: #fff;
		    border: solid 4px #e7e7e7;
		    position: absolute;
		    bottom: -15px;
		    border-radius: 50%;
		    height: 30px;
		    width: 30px;
		    z-index: 2;
		    text-align: center;
		    left: calc((100% - 30px)/2);
	    }
	}
	.single-offre-title{
		position: relative;
	    &:after{
	    	content:url('../img/btn-arrow-black-small-down.png');
	    	background: #fff;
		    border: solid 4px #e7e7e7;
		    position: absolute;
		    bottom: -15px;
		    border-radius: 50%;
		    height: 30px;
		    width: 30px;
		    z-index: 2;
		    text-align: center;
		    left: calc((100% - 30px)/2);
	    }
	}
	.offre-content {
	    border: solid #333 20px;
	}
	.offre-card{
		transition:.3s;
		filter: grayscale(0) contrast(1);
		min-height: 400px;
		&> a{
			height:100%;
			&>.row{
				height:100%;
				& > .offre-infos{height:calc(100% - 150px);display: flex;flex-direction: column;}
				p.time{margin-top: auto;font-size: 11px;font-weight: 700;letter-spacing: 1px;padding-left: 17px;position: relative;}
				p.time:before{content:url('../img/time.png');position: absolute;left:0;}
			}
		}
	}
	.postulat-btn-arrow{font-size:12px; margin-right:40px; cursor:pointer;}
	.offre-next-prev{background-image: url('../img/offre-back-bg.png'); background-position: center center; background-size: cover; background-repeat: no-repeat;}
	.breadcrumb-offre{line-height: 55px;}
	h1{font-size:35px;}
	h2{font-size:15px;}
	h2:before {
	    content: '';
	    display: inline-block;
	    height: 1px;
	    width: 50px;
	    background: #333;
	    margin-bottom: 5px;
	    margin-right: 10px;
	}
	.profil-offre{font-size:15px;}
	.offre-share img{margin-right:3px; margin-left:3px; filter:brightness(0);}
	.prev-offre-btn{position:relative; font-size:15px; margin-left:40px;font-weight:700;}
	.next-offre-btn{position:relative; font-size:15px; margin-right:40px;font-weight:700;}
	.offre-back-btn{position: relative; font-size: 15px; margin-left:40px;font-weight:700;}
	.offre-back-btn:before{
		content:url('../img/back-arrow-black.png');
		background-color: $gray;
	    position: absolute;
	    left: -40px;
	    top: 0;
	    height: 100%;
	    width: 40px;
	    text-align: center;
	    vertical-align: middle;
	    line-height: 37px;
	}
	.prev-offre-btn:before{
		content:url('../img/btn-arrow-black-small-invert.png');
		background-color: $white;
	    position: absolute;
	    left: -40px;
	    top: 0;
	    height: 100%;
	    width: 40px;
	    text-align: center;
	    vertical-align: middle;
	    line-height: 37px;
	}
	.next-offre-btn:after{
		content:url('../img/btn-arrow-black-small.png');
		background-color: $white;
	    position: absolute;
	    right: -40px;
	    top: 0;
	    height: 100%;
	    width: 40px;
	    text-align: center;
	    vertical-align: middle;
	    line-height: 37px;
	}
}
/**************************************************************************************************************/
/*PAGE*/
.page .main.page{
	.page-title:after {
	    content: url(../img/btn-arrow-black-small-down.png);
	    background: #fff;
	    border: solid 4px $light-gray;
	    position: absolute;
	    bottom: -15px;
	    border-radius: 50%;
	    height: 30px;
	    width: 30px;
	    z-index: 2;
	    text-align: center;
	    left: calc((100% - 30px)/2);
	}
	.page-title{position:relative;}
	h1{font-size: 30px;}
	.page-content-txt{
		h2, h3, h4, h5{font-size:16px;font-weight: bold; text-transform: uppercase; margin-top:20px; margin-bottom: 20px; letter-spacing: 1px;}
	}
	.page-content{border:solid $light-gray 15px;}
	.page-thumbnail{height:320px; background-position: center center; background-repeat: no-repeat; background-size:cover;}
	.col2-bg-black-white{
		background: linear-gradient(to right, #FFF 50%, #333 50%);
		letter-spacing: 1px;
		.white-btn-arrow:after{background:#454545;}
	}
	@media (max-width: 992px){
		div.col2-bg-black-white{
			background: none;
			.container-fluid{padding-left: 0; padding-right: 0;}
			.savoir-plus{padding-right: 10px; padding-left: 10px; background:$white;}
			.candidature-spont{padding-right: 10px; padding-left: 10px; background:$black;}
		}
	}
	.know-more-title{font-size:12px;}
	.know-more-txt, .cand-spont-title{font-size:40px;}
	.cand-spond-txt, .cand-spond-contact{font-size:15px;}
	.know-more-btn, .cand-spont-btn, .know-more-subtitle{font-size:10px;}
	hr.cand-spont-separator{height: 1px;width: 100%;background: #FFF;border: none;}
	@media (max-width: 768px){
		.filters  .checkbox-urgent label[for="is-urgent"]{line-height: 40px}
		div.know-more-txt, div.cand-spont-title, div.social-connect-title {
		    font-size: 30px;
		}
	}
	@media (max-width: 576px){
		div.know-more-txt, div.cand-spont-title, div.social-connect-title {
		    font-size: 22px;
		}
	}
}
/***************************************************************************************************************/
/*ARTICLE*/
.single-article{
	h1{font-size: 30px;}
	.page-thumbnail{height:320px; background-position: center center; background-repeat: no-repeat; background-size:cover;}
	.article-content-txt{
		h2,h3,h4{margin-top: 15px; margin-bottom:5px;}
	}
	.article-content {
	    border: solid 15px $light-gray;
	}
	.offre-card{
		transition:.3s;
		filter: grayscale(0) contrast(1);
		min-height: 350px;
		&> a{
			height:100%;
			&>.row{
				height:100%;
				& > .offre-infos{height:calc(100% - 150px);display: flex;flex-direction: column;}
				p.time{margin-top: auto;font-size: 11px;font-weight: 700;letter-spacing: 1px;padding-left: 17px;position: relative;}
				p.time:before{content:url('../img/time.png');position: absolute;left:0;}
			}
		}
		.offre-update{font-size: 12px;}
	}
	.article-next-prev{background-image: url('../img/offre-back-bg.png'); background-position: center center; background-size: cover; background-repeat: no-repeat;}
	.prev-article-btn{position:relative; font-size:15px; margin-left:40px;font-weight:700;}
	.next-article-btn{position:relative; font-size:15px; margin-right:40px;font-weight:700;}
	.article-back-btn{position: relative; font-size: 15px; margin-left:40px;font-weight:700;}
	.article-back-btn:before{
		content:url('../img/back-arrow-black.png');
		background-color: $gray;
	    position: absolute;
	    left: -40px;
	    top: 0;
	    height: 100%;
	    width: 40px;
	    text-align: center;
	    vertical-align: middle;
	    line-height: 37px;
	}
	.prev-article-btn:before{
		content:url('../img/btn-arrow-black-small-invert.png');
		background-color: $white;
	    position: absolute;
	    left: -40px;
	    top: 0;
	    height: 100%;
	    width: 40px;
	    text-align: center;
	    vertical-align: middle;
	    line-height: 37px;
	}
	.next-article-btn:after{
		content:url('../img/btn-arrow-black-small.png');
		background-color: $white;
	    position: absolute;
	    right: -40px;
	    top: 0;
	    height: 100%;
	    width: 40px;
	    text-align: center;
	    vertical-align: middle;
	    line-height: 37px;
	}
	.page-title{position:relative;}
	.page-title:after {
	    content: url(../img/btn-arrow-black-small-down.png);
	    background: #fff;
	    border: solid 4px $light-gray;
	    position: absolute;
	    bottom: -350px;
	    border-radius: 50%;
	    height: 30px;
	    width: 30px;
	    z-index: 2;
	    text-align: center;
	    left: calc((100% - 30px)/2);
	}
	.offre-title{
		position:relative;
		height: 150px;
	    display: flex;
	    flex-direction: column;
	    position: relative;
	    .date-box{
	    	position: absolute;
		    top: -12px;
		    height: 37px;
	        left: calc( ( 100% - 154px ) / 2 );
		    &.bg-red{border: solid 1px $red;}
		    &.bg-black{border: solid 1px $black;}
		    .clock {
		    	line-height: 35px;
		    	width: 35px
			}
			.date {
			    height: 100%;
			    width: auto;
			    line-height: 35px;
			    font-size: 15px;
			}
	    }
	    p.name-offre{margin-top: auto;}
	    p.ref-offre{margin-bottom: auto;}
	    &.urgente:after{
	    	content:url('../img/red-bell-small.png');
	    }
	    &.urgente:after{
	    	background: #fff;
		    border: solid 4px #e7e7e7;
		    position: absolute;
		    bottom: -15px;
		    border-radius: 50%;
		    height: 30px;
		    width: 30px;
		    z-index: 2;
		    left: calc((100% - 30px)/2);
	    }
	}
	.col2-bg-black-white{
		background: linear-gradient(to right, #FFF 50%, #333 50%);
		letter-spacing: 1px;
		.white-btn-arrow:after{background:#454545;}
	}
	@media (max-width: 992px){
		div.col2-bg-black-white{
			background: none;
			.container-fluid{padding-left: 0; padding-right: 0;}
			.savoir-plus{padding-right: 10px; padding-left: 10px; background:$white;}
			.candidature-spont{padding-right: 10px; padding-left: 10px; background:$black;}
		}
	}
	.article-card{
		a{height:100%;}
		a>.row{height:100%;}
		.article-cat{font-size:10px;}
		.article-excerpt{font-size: 12px;font-style: italic;}
		.time {
		    margin-top: auto;
		    font-size: 11px;
		    font-weight: 700;
		    letter-spacing: 1px;
		    padding-left: 17px;
		    position: relative;
		    padding-top: 20px;
		    margin-bottom: 0;
		}
		p.time:before{content:url('../img/time.png');position: absolute;left:0;}
		.post-thumbnail-container{height:150px;}
		.post-info-container{height:calc(100% - 150px);}
		.post-infos{flex-direction:column; height:100%;}
		.post-thumbnail{height:150px;background-position: center;background-size: cover;background-repeat: no-repeat;}
	}
}
/**************************************************************************************************************/
/*ARCHIVE ARTICLES*/
.nos-articles{
	.page-1 .article-card.filtered:nth-of-type(n+10){
		display: none;
	}
	h1 {font-size: 30px;}
	.sous-titre {font-size: 15px;font-weight: 700;}
	select#check-cat{
	    text-transform: uppercase;
	    background: #fff;
	    border: none;
	    color: #333;
	    padding: 10px;
	    margin-bottom: 10px;
	    width: calc(100% - 30px);
	}
	.offre-title{
		position:relative;
		height: 150px;
	    display: flex;
	    flex-direction: column;
	    position: relative;
	    .date-box{
	    	position: absolute;
		    top: -12px;
		    height: 37px;
	        left: calc( ( 100% - 154px ) / 2 );
		    &.bg-red{border: solid 1px $red;}
		    &.bg-black{border: solid 1px $black;}
		    .clock {
		    	line-height: 35px;
		    	width: 35px
			}
			.date {
			    height: 100%;
			    width: auto;
			    line-height: 35px;
			    font-size: 15px;
			}
	    }
	    p.name-offre{margin-top: auto;}
	    p.ref-offre{margin-bottom: auto;}
	    &:after{
	    	content:url('../img/red-bell-small.png');
	    	background: #fff;
		    border: solid 4px #e7e7e7;
		    position: absolute;
		    bottom: -15px;
		    border-radius: 50%;
		    height: 30px;
		    width: 30px;
		    z-index: 2;
		    left: calc((100% - 30px)/2);
	    }
	}
	.offre-card{
		transition:.3s;
		filter: grayscale(0) contrast(1);
		min-height: 350px;
		&> a{
			height:100%;
			&>.row{
				height:100%;
				& > .offre-infos{height:calc(100% - 150px);display: flex;flex-direction: column;}
				p.time{margin-top: auto;font-size: 11px;font-weight: 700;letter-spacing: 1px;padding-left: 17px;position: relative;}
				p.time:before{content:url('../img/time.png');position: absolute;left:0;}
			}
		}
	}
	.article-card{
		&:hover{
			.bg-white{background:$black; color:$white;}
			.color-blue{color:$white;}
		}
		.bg-white{transition:.3s;}
		.color-blue{transition:.3s;}
		a{height:100%;}
		a>.row{height:100%;}
		.article-cat{font-size:10px;}
		.article-excerpt{font-size: 12px;font-style: italic;}
		.time {
		    margin-top: auto;
		    font-size: 11px;
		    font-weight: 700;
		    letter-spacing: 1px;
		    padding-left: 17px;
		    position: relative;
		    padding-top: 20px;
		    margin-bottom: 0;
		}
		p.time:before{content:url('../img/time.png');position: absolute;left:0;}
		.post-thumbnail-container{height:150px;}
		.post-info-container{height:calc(100% - 150px);}
		.post-infos{flex-direction:column; height:100%;}
		.post-thumbnail{height:150px;background-position: center;background-size: cover;background-repeat: no-repeat;}
	}
	.page-number{display: inline-block;margin-right: 1px; background:$white; text-transform: uppercase; font-weight: 700; text-align: center; padding:18px 25px 17px; cursor:pointer; color:$black;}
	.page-1 #go-to-page-1 {
	    color: #FFF;
	    background: #333;
	}
	@media (max-width: 992px){
		.page-number{font-size: 10px; padding: 10px 14px 9px; margin-bottom: 10px;}
	}
}
/**************************************************************************************************************/
/*LISTE FICHES METIER*/
.nos-fiches-metiers{
	.page-1 .metier-card.filtered:nth-of-type(n+11){
		display: none;
	}
	h1 {font-size: 30px;}
	.sous-titre {font-size: 15px;font-weight: 700;}
	.page-number{display: inline-block;margin-right: 1px; background:$white; text-transform: uppercase; font-weight: 700; text-align: center; padding:18px 25px 17px; cursor:pointer; color:$black;}
	.page-1 #go-to-page-1 {
	    color: #FFF;
	    background: #333;
	}
	.metier-infos{
		.gray-btn-arrow{font-size: 15px}
	}
	.metier-title{font-size: 30px;}
	.metier-thumbnail-bg{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		.bg-white{
			transition:.3s;
			&:hover{background-color:#3665a491 !important;color:#FFF;}
		}
	}
	@media (max-width: 992px){
		.page-number{font-size: 10px; padding: 10px 14px 9px; margin-bottom: 10px;}
		.metier-title{font-size: 22px;}
		.metier-excerpt{font-size: 15px;}
		.metier-infos{
			.gray-btn-arrow{font-size: 10px}
		}
	}
}
/**************************************************************************************************************/
/*FICHE METIER*/
.single-metier{
	.page-thumbnail{height:320px; background-position: center center; background-repeat: no-repeat; background-size:cover;}
	.page-title{position:relative;}
	.page-title:after {
	    content: url(../img/btn-arrow-black-small-down.png);
	    background: #fff;
	    border: solid 4px $light-gray;
	    position: absolute;
	    bottom: -15px;
	    border-radius: 50%;
	    height: 30px;
	    width: 30px;
	    z-index: 2;
	    text-align: center;
	    left: calc((100% - 30px)/2);
	}
	.metier-content{border:solid 20px #FFF;}
	.metier-subtitle:before {
	    content: '';
	    display: inline-block;
	    height: 1px;
	    width: 50px;
	    background: $white;
	    margin-bottom: 6px;
	    margin-right: 5px;
	}
	.offre-title{
		position:relative;
		height: 150px;
	    display: flex;
	    flex-direction: column;
	    position: relative;
	    .date-box{
	    	position: absolute;
		    top: -12px;
		    height: 37px;
	        left: calc( ( 100% - 154px ) / 2 );
		    &.bg-red{border: solid 1px $red;}
		    &.bg-black{border: solid 1px $black;}
		    .clock {
		    	line-height: 35px;
		    	width: 35px
			}
			.date {
			    height: 100%;
			    width: auto;
			    line-height: 35px;
			    font-size: 15px;
			}
	    }
	    p.name-offre{margin-top: auto;}
	    p.ref-offre{margin-bottom: auto;}
	    &:after{
	    	content:url('../img/red-bell-small.png');
	    	background: #fff;
		    border: solid 4px #e7e7e7;
		    position: absolute;
		    bottom: -15px;
		    border-radius: 50%;
		    height: 30px;
		    width: 30px;
		    z-index: 2;
		    left: calc((100% - 30px)/2);
	    }
	}
	.offre-card{
		transition:.3s;
		filter: grayscale(0) contrast(1);
		min-height: 350px;
		&> a{
			height:100%;
			&>.row{
				height:100%;
				& > .offre-infos{height:calc(100% - 150px);display: flex;flex-direction: column;}
				p.time{margin-top: auto;font-size: 11px;font-weight: 700;letter-spacing: 1px;padding-left: 17px;position: relative;}
				p.time:before{content:url('../img/time.png');position: absolute;left:0;}
			}
		}
	}
	.metier-subtitle {letter-spacing: 1px;}
	.alert-btn-arrow{font-size: 15px;margin-right: 30px;cursor: pointer;}
	@media (max-width: 768px){
		div.know-more-txt, div.cand-spont-title, div.social-connect-title{font-size: 30px;}
		.alert-btn-arrow{font-size: 12px;}
	}
	@media (max-width: 576px){
		.alert-btn-arrow{font-size: 10px;}
		div.know-more-txt, div.cand-spont-title, div.social-connect-title{font-size: 20px;}
		.metier-subtitle{font-size:15px;}
		.metier-txt{font-size: 12px;}
	}
}
/**************************************************************************************************************/
/*Page profil*/
.main.profil{
	h1{font-size: 30px;}
	#disconnect{font-size: 15px;line-height: 15px;}
	#cv-input{display: none;}
	.profil-offers-title{font-weight: bold; font-size: 18px; letter-spacing: 1px;margin-left: 75px;}
	.profil-offers-title:before{content:"";display:inline-block;width: 70px; height:1px; background:$black; margin-bottom: 6px; margin-left: -75px;}
	.apercu-profil-title{
		font-size: 18px; letter-spacing: 1px;
		&:before{content:'';display: inline-block;height: 1px; width:70px; margin-bottom:6px; margin-right:5px; background:$black;}
		&:after{content:url(../img/profil-icon-green.png); margin-left: 5px;}
	}
	#profil-edit-form{
		label, input[type=text], input[type=password]{width:100%;font-size: 15px;}
		input[type=text], input[type=password]{padding: 10px 20px; border:solid 1px $black; color:$black;}
		label, #cv-span{
			font-weight: bold; letter-spacing: 1px;
			&:not(#cv-label){margin-bottom: 5px; color:$black;}
			&#cv-label{cursor: pointer;max-width: 300px;font-size: 15px;line-height: 15px;}
		}
	}
	.save-profil-container{width:100%;}
	.save-profil-btn{
		font-size: 15px; line-height:15px;margin-right: 43px; cursor:pointer;
		input{cursor: pointer;}
	}
	#save-profil{border:none;}
	.offre-title{
		position:relative;
		height: 150px;
	    display: flex;
	    flex-direction: column;
	    position: relative;
	    .date-box{
	    	position: absolute;
		    top: -12px;
		    height: 37px;
	        left: calc( ( 100% - 154px ) / 2 );
		    &.bg-red{border: solid 1px $red;}
		    &.bg-black{border: solid 1px $black;}
		    .clock {
		    	line-height: 35px;
		    	width: 35px
			}
			.date {
			    height: 100%;
			    width: auto;
			    line-height: 35px;
			    font-size: 15px;
			}
	    }
	    p.name-offre{margin-top: auto;}
	    p.ref-offre{margin-bottom: auto;}
	    &.urgente:after{
	    	content:url('../img/red-bell-small.png');
	    }
	    &:not(.urgente):after{
	    	content:url('../img/btn-arrow-black-small-down.png');
	    }
	    &:after{
	    	background: #fff;
		    border: solid 4px #e7e7e7;
		    position: absolute;
		    bottom: -15px;
		    border-radius: 50%;
		    height: 30px;
		    width: 30px;
		    z-index: 2;
		    left: calc((100% - 30px)/2);
	    }
	}
	.offre-card{
		transition:.3s;
		filter: grayscale(0) contrast(1);
		min-height: 350px;
		&> .row{
			height:100%;
			&>a{
				height:calc(100% - 45px);
				& > .offre-infos{height:calc(100% - 150px);display: flex;flex-direction: column;}
				p.time{margin-top: auto;font-size: 11px;font-weight: 700;letter-spacing: 1px;padding-left: 17px;position: relative;}
				p.time:before{content:url('../img/time.png');position: absolute;left:0;}
			}
		}
		.delete{
			width: 100%;border-top: solid 1px $light-gray;cursor: pointer;
			img{margin-top: -3px;margin-left: 5px;}
		}
	}
}
/**************************************************************************************************************/
/*QUERIES*/
@media(max-width:1730px){
	.hp-twitter-list li{
		width:48%;
	}
}
@media(max-width:1600px){
	.hp-twitter-list li a:after{
		display: none;
	}
}
@media(max-width:1300px){
	.hp-twitter-title{font-size: 20px;}
	.hp-twitter-text{font-size: 12px;}
	.hp-twitter-list li a{font-size: 10px;}
	.bg-linkedin-picto{
		.hp-linkedin-title{font-size:20px;}
		.white-btn-arrow{font-size: 10px;}
	}
}
@media(max-width:1070px){
	.hp-offers-number-title{font-size: 20px;}
	.hp-odometer{font-size:150px;}
	.hp-offers-number-txt{font-size: 10px;}
	.hp-who{
		.hp-who-title{font-size: 20px;}
		.hp-who-txt{font-size: 12px;}
	}
}
@media(max-width:1040px){
	.hp-twitter-title{font-size: 14px;}
	.hp-twitter-text{font-size: 10px;}
	.hp-twitter-list li a{font-size: 8px;}
	.bg-linkedin-picto{
		.hp-linkedin-title{font-size:14px;}
	}
}
@media(max-width:992px){
	.offre-right:after, .offre-left:after{
		display: none;
	}
	.hp-3bloc-align{width:100%;}
	.hp-3bloc-container img{width: 100%;}
}