/**********************************************************************************************************/
// HEADER
.modal#modal-connect, .modal#modal-candidature{
	z-index: 1000001 !important;
	button.close{
		position :absolute;top: 0px;right: 5px;font-size: 30px;
		span{text-shadow:none;}
	}
	.modal-content{
		position:relative;
		margin-top: 10px;
		max-width: 700px;
		border:solid 20px $black;
		border-radius: 0;
		letter-spacing: 1px;
		.titre-fenetre{font-size:12px;}
		.titre-social-connect,.titre-wp-connect{font-size: 25px;}
		#go-to-login, #go-to-signup, #pwd-forgot, #candidature-go-to-login, #candidature-go-to-form, #candidature-pwd-forgot{font-size: 12px;}
		@media(max-width: 700px){
			.titre-social-connect,.titre-wp-connect{font-size: 13px;}
			.titre-fenetre{font-size:10px;}
			#go-to-login, #go-to-signup, #pwd-forgot, #candidature-go-to-login, #candidature-go-to-form, #candidature-pwd-forgot{font-size: 10px;}
		}
		form{font-size: 12px;}
		.modal-arrow-top.bg-white {
		    position: absolute;
		    width: 30px;
		    height: 30px;
		    top: -15px;
		    left: calc((100% - 30px)/2);
		    border-radius: 50%;
		    line-height: 18px;
		    border: solid 5px $light-gray;
		}
	}
	label{margin-bottom: 5px;}
	input{margin-bottom: 15px; padding:5px;}
	input[type=text], input[type="password"]{background:$light-gray; border:solid 1px $black;}
	label,input {
	    display: block;
	    width: 100%;
	}
	.gform_fields{
		input[type=checkbox]{
			display: inline;
			&+ label{display: inline;}
		}	
	}
	.gform_footer.top_label{
		padding: 0 !important;
		input[type=submit]{background:$green; color:$white; font-weight:600; text-transform: uppercase;}
	}
	.btn-login-green, .gform_footer.top_label{
		cursor:pointer;
		&:after{line-height: 45px;}
		input[type=submit]{border: none;margin-bottom: 0;font-size: 15px;padding: 10px;cursor:pointer;}
	}
	input[type=search]{width:auto;}
	.btn-change-form{margin-top: 15px; cursor:pointer; text-decoration: underline;}
}
.account{
	span,.account-img{cursor:pointer;}
}
header{
	transition: .3s;
	position:relative;
	height: 56px;
	color:$white;
	background-color: $blue;
	&.fixed-top{z-index: 1000000;}
	@media (max-width: 1610px){
		.desktop-header{
			#header-logo{display:none !important;}
			.header-title{margin-right: 5px !important;}
			.header-sodial{margin-right: auto;}
		}
	}
	@media (max-width: 1365px){
		.desktop-header{
			.header-social{display: none !important;}
		}
	}
	.current-menu-item, .current-menu-ancestor, .current-menu-parent, .current_page_parent, .current_page_ancestor{
		&>a{
	    	font-weight: 800 !important;
	    }
	}
	&.sticky{
		color:$black;
		background-color: $white;
		.header-title a .h1{color:$black;}
		.header-nav ul#menu-menu-header li a{color: $black;}
		#header-logo{display: flex;}
		.header-social{margin-right:0;}
		.account{
			color:$black;
			.account-img{background-color: $white;}
		}
		img{filter: brightness(0%);}
		.sub-menu{
	    	background:$white;
	    	color:$black;
	    }
	}
	.menu-item-has-children{
		position:relative;
    	&:hover > .sub-menu{transform:scaleY(1);}
	}
    .sub-menu{
    	position:absolute;
    	transition:.3s;
    	transform:scaleY(0);
    	transform-origin: top;
    	left:0;
    	margin-top:16px;
    	background:$blue;
    	color:$white;
    	padding-left:0;
    	overflow: hidden;
    }
	.header-nav ul#menu-menu-header .sub-menu li{
		transform:scaleY(1); transition:.2s;width:100%;padding-top: 10px;padding-bottom: 10px;
		&:hover{background:rgba(0,0,0,.2);}
    	a {display:inline-block ;padding:2px 7px;transform:scaleY(1);}
	}
	.desktop-header ul:not(.sub-menu) > li.menu-item{padding-top: 17px; padding-bottom: 16px;}

	nav.navbar{
		transition:.3s;
		h1, .h1{font-size:10px;padding-left:5px;letter-spacing: 1px;}
		.burger-icon {
		    height: 3px;
		    margin-top: 5px;
		    width: 30px;
		    margin-bottom: 5px;
		    border-radius: 5px;
		    background-color: $white;
		    transition:.3s;
		}

		.menu-item-has-children{
			padding-right: 10px;
			color:$white;
		    &:hover{
		    	ul.sub-menu{
					max-height: 500px;
					position: initial;
				}
			    &:after{
					top: 10px;
				    right: 5px;
				    transform: rotate(0deg);
			    }
		    }
			&:after {
			    content: '';
			    display: inline-block;
				transform: rotate(90deg);
			    transition: .3s;
			    height: 0;
			    top: 8px;
			    right: 7px;
			    position: absolute;
			    width: 0;
			    border-bottom: solid transparent 5px;
			    border-top: solid $white 5px;
			    border-left: solid transparent 5px;
			    border-right: solid transparent 5px;
			}
			ul.sub-menu{
				max-height: 0;
				position: initial;
				&> li{
					border-right: solid 1px $white;
					&:last-child {margin-bottom: 10px;}
				}
			}

		}

		button.navbar-toggler {
		    border: solid 1px $white;
		    border-radius: 3px;
		    margin-right: 10px;
		    transition:.3s;
		}
		.account-link{
			transition:.3s;
			color: $white;
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
			padding: 0 7px;
			letter-spacing: 1px;
		}
		ul{
			padding:0;
			margin:0;
			li{
				display:block;
				a{
					transition:.3s;
					color: $white;
					font-size: 12px;
					font-weight: 600;
					text-transform: uppercase;
					padding: 0 7px;
					letter-spacing: 1px;
				}
			}
		}
		&.sticky{
			color:$black;
			background-color: $white;
			.menu-item-has-children{
				color:$black;
				&:after {border-top: solid $black 5px;}
				ul.sub-menu > li{border-right: solid 1px $black;}
			}

			.burger-icon {
			    background-color: $black;
			}
			button.navbar-toggler {
			    border: solid 1px $black;
			}
			.account-link{color:$black;}
			.header-title a .h1{color:$black;}
			ul li a{
				color: $black;
			}
			.account-link{
				color:$black;
				.account-img{
					background-color: $white;
				}
			}
			img{
				filter: brightness(0%);
			}
		}
	}
	.header-title a .h1{color:$white;}
	img{
		transition:.3s;
		filter: brightness(100%);
	}
	.header-nav{
		color:$white;
		height: 56px;
		h1, .h1{font-size:10px;padding-left:5px;letter-spacing: 1px;}
		ul#menu-menu-header{
			padding:0;
			margin:0;
			li{
				display:inline-block;
				a{
					transition:.3s;
					color: $white;
					font-size: 12px;
					font-weight: 600;
					text-transform: uppercase;
					padding: 0 7px;
					letter-spacing: 1px;
				}
			}
		}
	}
	.header-social{
		margin-right: auto;
	}
	.account{
		color:$white;
		transition:.3s;
		position: absolute;
		right: 0;
		top: 0;
		span{
			width: 100%;
			font-size: 10px;
			font-weight: 600;
			letter-spacing: 1px;
		}
		.account-img{
			background-color: $blue;
			transition: .3s;
			padding: 0 15px 15px;
			border-bottom-left-radius: 50%;
			border-bottom-right-radius: 50%;
			img{
				max-width: 31px;
				max-width: 31px;
			}
		}
	}
	#header-logo{
		display: none;
		img{
			filter: brightness(100%);
			margin-top: 3px;
			margin-bottom: 3px;
		}
	}
}
@media(max-width: 1780px) and (min-width: 1450px){
	header.sticky{
		padding-right: 140px;
	}
}
//1450-1780